.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hedaer-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/* .header-right {
} */

.active {
    color: #d0962e;
}

.header-right > ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.header-right > ul > li {
    transition: color 0.2s ease-in;
}

.header-right > ul > li:hover {
    cursor: pointer;
    color: #d0962e;
}
