<!-- Footer -->
<div id="footer-container">
    <div class="footer-wrapper">
        <div class="footer-left-content">
            <h2>Cùng thảo luận về dự án của bạn</h2>
            <span>Vui lòng điền biểu mẫu hoặc gọi chúng tôi để được tư vấn miễn phí tại nhà.</span>
            <br />
            <b>Khu vực cung cấp dịch vụ:</b>
            <div class="footer-left-content-service">
                <span>Hà Nội, Tp. Hồ Chí Minh, Hải Phòng, Quảng Ninh</span>
                <span>Số 99 Hai Bà Trưng, Cửa Nam, Hoàn Kiếm, Hà Nội</span>
                <span>lienhe@web.com</span>
                <span>024 3456 7890</span>
            </div>
        </div>

        <div class="footer-right-content">
            <form action="">
                <label for="">Tên *</label>
                <input type="text" />
                <label for="">Họ *</label>
                <input type="text" />
                <label for="">Email*</label>
                <input type="email" />
                <label for="">Điện thoại</label>
                <input type="text" />
                <label for="">Địa chỉ</label>
                <input type="text" />
                <label for="">Chủ đề</label>
                <input type="text" />
                <label for="">Gõ tin nhắn của bạn ở đây...</label>
                <input type="textarea" />
                <input type="submit" value="Gửi" />
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
