<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/header.css" />
    </head>
    <body>
        <!-- Header -->
        <div class="header-container">
            <div class="hedaer-left">
                <img src="../assets/img/logo.png" alt="logo" />
                <h2>Cải tạo nhà M&B</h2>
            </div>

            <div class="header-right">
                <ul>
                    <li class="active">Trang chủ</li>
                    <li>Giới thiệu</li>
                    <li>Dịch vụ</li>
                    <li>Dự án</li>
                    <li>Liên Hệ</li>
                    <li>Gọi Ngay</li>
                </ul>
            </div>
        </div>
        <!-- Header -->
    </body>
</html>
